.header {
    text-align: center;
    margin-bottom: 10px;
}

body {
    background-color: #111111;
    color: #eeeeee;
    font-family: 'Courier New', monospace;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #f0f6fc;
}

p {
    line-height: 1.6;
    font-size: 25px;
}

a {
    color: #4d8ce6;
    text-decoration: none;
    font-size: 25px;
    width: 1000px;
}

ul {
    align-items: center;
    list-style-type: none;
}

img {
    width: 90%;
    height: auto;
    margin-top: 10px;
}

li {
    margin-bottom: 10px;
    display: inline;
}

.element {
    margin: 0 auto;
    border-style: solid;
    border-color: #808080;
    border-radius: 15px;
    border-width: 2.5px;
    width: 25%;
}